nav{
    bottom: 0px;
    position: fixed;
}

.messages{
    /*margin-left: 50%;
    margin-right:  50%; */
}

#profileButton{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#messagesButton{
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    bottom: 10px;
    left: 45%;
    /*display: block;*/

}

#linksButton{
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.messagesRow{
    border-bottom: solid black 1px;
}

.clearFloat{
    clear:both;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}