<template name="footer">
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <ul class="" style="width:100%;">
          <li style="width:33%;"><a href="{{pathFor "links"}}"><i class="mdi-action-thumbs-up-down left"></i>Discover</a></li>
          <li style="width:33%;"><a href="{{pathFor "messages"}}"><i class="mdi-action-speaker-notes left"></i>Matches</a></li>
          <li style="width:33%;"><a href="{{pathFor "profile"}}"><i class="mdi-action-account-circle left"></i>Profile</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>