<template name="footer">
    <a class="btn-floating btn-large waves-effect waves-light red" id="profileButton" href="{{pathFor "profile"}}"><i class="mdi-action-account-circle"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light red" id="messagesButton" href="{{pathFor "messages"}}"><i class="mdi-action-speaker-notes"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light red" id="linksButton" href="{{pathFor "links"}}"><i class="mdi-action-thumbs-up-down"></i></a>
</template>