<template name="links">
    <div class="row" style="max-height:90vh;">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-image">
                    <img class="activator" src="http://www.billboard.com/files/styles/promo_650/public/media/taylor-swift-2014-sarah-barlow-billboard-650.jpg">
                    <span class="card-title">T Swizzle</span>
                </div>
                <div class="card-content">
                    <p>This is information about me. I'm writing this at 4:15 am, so this is totally filler content.</p>
                </div>
                <div class="card-action row">
                    <div class="col s6">
                        <div class="card-panel red">
                            <span class="white-text">
                                <i class="mdi-action-thumb-down left" style="font-size: 48px;"></i>
                                <div class="clearFloat"></div>
                            </span>
                        </div>
                        
                    </div>
                    <div class="col s6">
                        <div class="card-panel green">
                            <span class="white-text">
                                <i class="mdi-action-thumb-up right" style="font-size: 48px;"></i>
                                <div class="clearFloat"></div>
                            </span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}
</template>