<template name="messages">
    <div class="row messagesRow">
        <div class="col s3"><i class="mdi-action-face-unlock" style="font-size: 48px"></i></div>
        <div class="col s9"><strong>Person's name</strong><p>Text below</p></div>
    </div>
    <div class="row messagesRow">
        <div class="col s3"><i class="mdi-action-face-unlock" style="font-size: 48px"></i></div>
        <div class="col s9"><strong>Person's name</strong><p>Text below</p></div>
    </div>
    <div class="row messagesRow">
        <div class="col s3"><i class="mdi-action-face-unlock" style="font-size: 48px"></i></div>
        <div class="col s9"><strong>Person's name</strong><p>Text below</p></div>
    </div>
    <div class="row messagesRow">
        <div class="col s3"><i class="mdi-action-face-unlock" style="font-size: 48px"></i></div>
        <div class="col s9"><strong>Person's name</strong><p>Text below</p></div>
    </div>
    <div class="row messagesRow">
        <div class="col s3"><i class="mdi-action-face-unlock" style="font-size: 48px"></i></div>
        <div class="col s9"><strong>Person's name</strong><p>Text below</p></div>
    </div>
    {{> footer}}
</template>