<template name="profile">
    <div class="row" style="max-height:90vh;">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-image">
                    <img src="http://whoismax.info/amazon/images/twoFace.png">
                    <span class="card-title">Max Matthews</span>
                </div>
                <div class="card-content">
                    <p>This is information about me. I'm writing this at 4:15 am, so this is totally filler content.</p>
                </div>
                <div class="card-action">
                    <a href="#">Manage Photos</a>
                    <a href='#'>Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</template>